.Goal {
    padding: 20px 50px 35px;
    border-left: 8px solid #F1367D;
    background-color: #F5F5F5;
    margin-bottom: 25px;
    h2 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        color: #333;
        margin-bottom: 15px;
    }
}