.lessons {
    padding: 31px;

    &__title {
        font-size: 36px;
    }

    &__center {
        color: grey;
        text-align: center;
    }

    &__check {
        display: flex;
        align-items: center;
    }

    &__deadline {
        color: grey;
    }

    &__materialsTitle {
        font-size: 24px;
        margin-top: 20px;
    }

    &__materialsList {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &__item {
            width: 100%;
            margin-top: 10px;
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }

    @media (max-width: 700px) {
        padding: 15px;

        &__materialsList {
            justify-content: center;
            &__item {
                &:not(:first-child) {
                    margin-left: 0px;
                }
            }
        }
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}