.plan {
    padding: 31px;
    min-height: 80vh;
    &__note {
        text-align:center;
        color: grey;
    }

    &__title {
        font-size: 36px;
    }

    &__data {
        &__length {
            margin-bottom: 10px;
            font-size: 12px;
            color: grey;
        }
    }
}

.center {
    text-align: center;
}