.journal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;

    &__modal {
        &__title {
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__desc {
            line-height: 25px;
        }
    }
}