.MaterialsItems {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.UsefulMaterials {

    h2 {
        color: #212529;
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 33px;
    }
}