.MaterialsItems {
    display: flex;
    gap: 45px;


    &__nothing {
        text-align: center;
        color: grey;
    }
}

.UsefulMaterials {

    h2 {
        color: #212529;
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 33px;
    }
}