.Course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f7f2f2;
    align-items: center;
}

.Info {

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

    a {
        color: blue;
        &:hover {
            text-decoration: underline;
        }
    }

    .Contacts {
        display: flex;
        gap: 10px;
    }
}
.Actions {
    display: flex;
    flex-direction: column;
}
.Accordions {
    width: 100%;
    h3 {
        font-weight: 600;
    }
}
.updateFormWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    form {
        display: flex;
        flex-direction: column;
        h3 {
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: 700;
        }
    }
}