.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #404551;
    padding: 20px 31px 20px 31px;

    &__nav {
        display: flex;

        &__link {
            color: #fff;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            transition: all .3s ease-in-out;

            &:not(:last-child) {
                margin-right: 20px;
            }

            &:hover {
                color: #F1367D;
            }
        }
    }


    &__lk {
        display: flex;

        &__link {
            display: flex;
            align-items: center;
            color: #fff;

            & span {
                margin-right: 10px;
            }

            & img {
                width: 28px;
                height: 28px;
                border: 1px solid #F1367D;
                border-radius: 20px;
            }

            &:hover {
                color: #F1367D;
            }
        }
    }

    @media(max-width: 850px) {
        flex-direction: column;

        &__nav {
            margin-bottom: 20px;
        }
    }

    @media(max-width: 566px) {
        &__nav {
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;

            &__link {

                &:last-child{
                    margin-top: 10px;
                }
            }
        }
    }
}

.active {
    color: #F1367D;
}