.Header {
    background-color: #404551;
    padding: 20px 31px 20px 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavigationRight {
    display: flex;
    align-items: center;
}
.Link {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    &:not(:last-child) {
        margin-right: 20px;
    }
    &:hover {
        color: #E55C78;
    }
}