.MaterialsItem {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border: 1px solid #E55C78;
    border-radius: 5px;
    height: 100%;
    background-color: #fff;

    .Content {
        padding: 20px 20px 10px;

        .Tag {
            font-size: 15px;
            font-weight: 500;
            color: grey;
        }

        .Title {
            font-size: 22px;
            font-weight: 500;
            line-height: 1.35;
            margin-bottom: 10px;
        }
        .Text {
            line-height: 1.5;
        }

        .Important {
            margin-top: 30px;
            margin-bottom: 10px;
            line-height: 1.2;
            font-size: 12px;
        }

        .Link {
            display: block;
            &:last-child{
                margin-top: 10px;
            }
        }
    }
}