.Intro {
    background-color: #4b4b4b;
    color: white;
    background-image: url('../../../assets/intro.jpg');
    background-size: cover;
    background-position: center;
    min-height: 654px;
    padding-top: 90px;
    padding-left: 70px;
    margin-bottom: 80px;

    h1 {
        font-weight: 400;
        font-size: 43px;
        max-width: 900px;
        margin-bottom: 15px;
    }
    p {
        padding-bottom: 45px;
        font-style: italic;
    }
}